body {
    background-color: lightgray;
 }

#welcomeL {
    font-size:x-large;
    margin-right: 1%; 
    font-weight: bold;
}

#topBar {
    text-align: center;
    margin-bottom: 1%;
}

#info {
    float: left;
    font-size: large;
}

.info {
    margin-bottom: 2%;
}

.baseL {
    display: flex;
}

#skillChart {
    width:100em;
    height: 100em;
    display:flex;
    position: relative;
    top: 1em;
    left: 0;
    z-index: 1;
}

#skillChartL {
    width: 41em;
    height: 1em;
    margin-bottom: -1em;
    z-index: 2;
    left: 0;
    display:flex;
    position: relative;
    justify-content: center;
}

.charts{
    display: flex;
    float: left;
    position: relative;
}

.skillPiechart {
    z-index: 3;
    left: 0;
    position: absolute;
    margin-top: -2em;
}

.TransactionD {
    position: absolute;
    display: flex;
    float: right;
    top: 3em;
}

.transactionChart {
    top: 5em;
    z-index: 4;
}

#transactionL {
    width: 41em;
    height: 1em;
    top: 0;
    margin-bottom: -1em;
    z-index: 2;
    right: -46em;
    display:flex;
    position: relative;
    justify-content: center;
}