body {
    background-color: lightgray;
 }

#welcomeL {
    font-size:x-large;
    margin-right: 1%; 
    font-weight: bold;
}

#topBar {
    text-align: center;
    margin-bottom: 1%;
}

#info {
    float: left;
    font-size: large;
}

.info {
    margin-bottom: 2%;
}

.baseL {
    display: flex;
}

#skillChart {
    width:100em;
    height: 100em;
    display:flex;
    float: right;
    position: relative;
    top: -13em;
    right: -38em;
    z-index: 1;
}

#skillChartL {
    width: 41em;
    height: 1em;
    margin-bottom: -1em;
    z-index: 2;
    left: 0;
    display:flex;
    position: relative;
    justify-content: center;
}

.charts{
    position: relative;
    display:flex;
    flex-direction: column;
}

.skillPiechart {
    z-index: 3;
    left: 0;
    position: absolute;
    margin-top: -2em;
}

.TransactionD {
    position: relative;
    top: -74em;
    width: 2080px;
    height: 500px;
}

.transactionChart {
    top: 5em;
    z-index: 4;
}

#transactionL {
    width: 41em;
    height: 1em;
    top: 0;
    margin-bottom: -1em;
    z-index: 2;
    right: -16em;
    display:flex;
    position: relative;
    justify-content: center;
}